<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="../static/plugins/dist/css/weui.css">
</head>
<body style="background-color: #F2FAFC;"  >
<div class="order-contents">
    <!--顶部搜索-->
   <!-- <div class="layui-row layui-bg-lan layui-padd515 layui-pos">
        <div class="layui-col-xs1"><i class="layui-icon layui-search-ic">&#xe615;</i></div>
        <div class="layui-col-xs11"><input type="text" placeholder="搜索体检套餐" class="search-tj"/></div>
    </div>-->
    <!--顶部搜索end-->
    <!--内容-->
    <div class="layui-top-gl " name="list-wrap">
        <div class="layui-row weui-margin-bot layui-postion-rea">
            <div class="layui-col-xs12 layui-padd15 weui-bg-fff  sl-content">
                <div class="layui-row">
                    <div class="layui-col-xs2">
                        <img src="../static/images/yisheng-icon.jpg" class="layui-yisheng-icon"/>
                    </div>
                    <div class="layui-col-xs10 layui-left-pad">
                        <div class="layui-row">
                            <div class="layui-col-xs8 layui-pd-status td-col-ls">入职体检(A套餐)</div>
                            <div class="layui-col-xs4 td-col-red login-wjm">￥80元</div>
                            <div class="layui-col-xs12 layui-sfcs weui-fcolor3">包含：内科、外科、皮肤科、传染病以及相关</div>
                            <div class="layui-col-xs8 layui-sfcs">尹山湖体检中心</div>
                            <div class="layui-col-xs4 login-wjm weui-fcolor3 layui-sfcs">工业园区</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row weui-margin-bot layui-postion-rea">
            <div class="layui-col-xs12 layui-padd15 weui-bg-fff  sl-content">
                <div class="layui-row">
                    <div class="layui-col-xs2">
                        <img src="../static/images/yisheng-icon.jpg" class="layui-yisheng-icon"/>
                    </div>
                    <div class="layui-col-xs10 layui-left-pad">
                        <div class="layui-row">
                            <div class="layui-col-xs8 layui-pd-status ">入职体检(A套餐)</div>
                            <div class="layui-col-xs4 td-col-red login-wjm">￥80元</div>
                            <div class="layui-col-xs12 layui-sfcs weui-fcolor3">包含：内科、外科、皮肤科、传染病以及相关</div>
                            <div class="layui-col-xs8 layui-sfcs">尹山湖体检中心</div>
                            <div class="layui-col-xs4 login-wjm weui-fcolor3 layui-sfcs">工业园区</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row weui-margin-bot layui-postion-rea">
            <div class="layui-col-xs12 layui-padd15 weui-bg-fff  sl-content">
                <div class="layui-row">
                    <div class="layui-col-xs2">
                        <img src="../static/images/yisheng-icon.jpg" class="layui-yisheng-icon"/>
                    </div>
                    <div class="layui-col-xs10 layui-left-pad">
                        <div class="layui-row">
                            <div class="layui-col-xs8 layui-pd-status ">入职体检(A套餐)</div>
                            <div class="layui-col-xs4 td-col-red login-wjm">￥80元</div>
                            <div class="layui-col-xs12 layui-sfcs weui-fcolor3">包含：内科、外科、皮肤科、传染病以及相关</div>
                            <div class="layui-col-xs8 layui-sfcs">尹山湖体检中心</div>
                            <div class="layui-col-xs4 login-wjm weui-fcolor3 layui-sfcs">工业园区</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row weui-margin-bot layui-postion-rea">
            <div class="layui-col-xs12 layui-padd15 weui-bg-fff  sl-content">
                <div class="layui-row">
                    <div class="layui-col-xs2">
                        <img src="../static/images/yisheng-icon.jpg" class="layui-yisheng-icon"/>
                    </div>
                    <div class="layui-col-xs10 layui-left-pad">
                        <div class="layui-row">
                            <div class="layui-col-xs8 layui-pd-status ">入职体检(A套餐)</div>
                            <div class="layui-col-xs4 td-col-red login-wjm">￥80元</div>
                            <div class="layui-col-xs12 layui-sfcs weui-fcolor3">包含：内科、外科、皮肤科、传染病以及相关</div>
                            <div class="layui-col-xs8 layui-sfcs">尹山湖体检中心</div>
                            <div class="layui-col-xs4 login-wjm weui-fcolor3 layui-sfcs">工业园区</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row weui-margin-bot layui-postion-rea">
            <div class="layui-col-xs12 layui-padd15 weui-bg-fff  sl-content">
                <div class="layui-row">
                    <div class="layui-col-xs2">
                        <img src="../static/images/yisheng-icon.jpg" class="layui-yisheng-icon"/>
                    </div>
                    <div class="layui-col-xs10 layui-left-pad">
                        <div class="layui-row">
                            <div class="layui-col-xs8 layui-pd-status ">入职体检(A套餐)</div>
                            <div class="layui-col-xs4 td-col-red login-wjm">￥80元</div>
                            <div class="layui-col-xs12 layui-sfcs weui-fcolor3">包含：内科、外科、皮肤科、传染病以及相关</div>
                            <div class="layui-col-xs8 layui-sfcs">尹山湖体检中心</div>
                            <div class="layui-col-xs4 login-wjm weui-fcolor3 layui-sfcs">工业园区</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row weui-margin-bot layui-postion-rea">
            <div class="layui-col-xs12 layui-padd15 weui-bg-fff  sl-content">
                <div class="layui-row">
                    <div class="layui-col-xs2">
                        <img src="../static/images/yisheng-icon.jpg" class="layui-yisheng-icon"/>
                    </div>
                    <div class="layui-col-xs10 layui-left-pad">
                        <div class="layui-row">
                            <div class="layui-col-xs8 layui-pd-status ">入职体检(A套餐)</div>
                            <div class="layui-col-xs4 td-col-red login-wjm">￥80元</div>
                            <div class="layui-col-xs12 layui-sfcs weui-fcolor3">包含：内科、外科、皮肤科、传染病以及相关</div>
                            <div class="layui-col-xs8 layui-sfcs">尹山湖体检中心</div>
                            <div class="layui-col-xs4 login-wjm weui-fcolor3 layui-sfcs">工业园区</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row weui-margin-bot layui-postion-rea">
            <div class="layui-col-xs12 layui-padd15 weui-bg-fff  sl-content">
                <div class="layui-row">
                    <div class="layui-col-xs2">
                        <img src="../static/images/yisheng-icon.jpg" class="layui-yisheng-icon"/>
                    </div>
                    <div class="layui-col-xs10 layui-left-pad">
                        <div class="layui-row">
                            <div class="layui-col-xs8 layui-pd-status ">入职体检(A套餐)</div>
                            <div class="layui-col-xs4 td-col-red login-wjm">￥80元</div>
                            <div class="layui-col-xs12 layui-sfcs weui-fcolor3">包含：内科、外科、皮肤科、传染病以及相关</div>
                            <div class="layui-col-xs8 layui-sfcs">尹山湖体检中心</div>
                            <div class="layui-col-xs4 login-wjm weui-fcolor3 layui-sfcs">工业园区</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容end-->
    <!--底部样式-->
    <div class="layui-row">
        <div class="center-footer">
            <div class="footer-kd layui-home1" onclick="location.href = '/templates/home.html'">
                <p class="footer-p-h">
                    <!--<img src="../static/images/center_home1.png" class="footer-home-icon center-home1"/>-->
                    <img src="../static/images/center_home2.png" class="footer-home-icon center-home2"/>
                </p>
                <p class="footer-p-h footer-home footer-bs-color" >首页</p>
            </div>
            <div class="footer-kd layui-home2"  onclick="location.href = '/templates/personalCenter.html'">
                <p class="footer-p-h">
                    <img src="../static/images/center_user1.png" class="footer-home-icon center-user1" style="width: 16px;height:19px;"/>
                </p>
                <p class="footer-p-h  footer-home layui-label-color1"> 个人中心</p>
            </div>
        </div>
    </div>
    <!--底部样式end-->
</div>
<script src="../static/js/jquery.min.js"></script>
<!--<script type="text/javascript" src="../static/js/selectDate.js"></script>-->
<!--<script type="text/javascript" src="../static/layer/layer.js"></script>-->
<!--<script type="text/javascript" src="../static/js/mobileSelect.js"></script>-->
<script src="../static/plugins/layui/layui.js"></script>
<!--<script type="text/javascript" src="../js/validators.js"></script>-->
<script src="../js/util.js"></script>
<script>

    function person() {
        window.location.href = "/templates/personalCenter.html";
    }

    $(function () {

        // 底部样式切换

        $('.layui-home1').click(function () {
            $(this).siblings().find("p.footer-home").removeClass('footer-bs-color');
            $(this).find('p.footer-home').addClass('footer-bs-color');

            $(this).find('img.center-home1').hide();
            $(this).find('img.center-home2').show();


            $(this).siblings().find('img.center-user1').show();
            $(this).siblings().find('img.center-user2').hide();

        });
        $('.layui-home2').click(function () {
            $(this).siblings().find("p.footer-home").removeClass('footer-bs-color');
            $(this).find('p.footer-home').addClass('footer-bs-color');

            $(this).find('img.center-user1').hide();
            $(this).find('img.center-user2').show();


            $(this).siblings().find('img.center-home1').show();
            $(this).siblings().find('img.center-home2').hide();

        });


         $('[name=list-wrap]>div').click(function () {
             showSuccessDialog('此功能正在紧急研发中');
             form.render();
         });
    });

</script>
</body>
</html>