<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>预约问卷调查</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="../static/plugins/dist/css/weui.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        .layui-form-select dl dd.layui-this{
            background-color: #34C0E3;
        }
    </style>
</head>
<body style="background-color: #F2FAFC;"  >
<div class="layui-all-con" ng-app="questionnaireApp" ng-controller="questionnaireController">
    <!--顶部图片-->
    <div class="layui-row">
        <div class="layui-col-xs12">
            <img src="../static/images/dc_bg_icon.png" class="layui-dc-bg"/>
        </div>
    </div>
    <!--顶部图片end-->
    <!--简介-->
    <div class="layui-row layui-padd10 weui-bg-fff weui-margin-bot">
        <div class="layui-col-xs12 layui-pd-status">简介</div>
        <div class="layui-col-xs12 weui-fcolor3">该问卷可以调查处您身体存在的隐形问题，请按您的真实际情况作答
            ，系统会根据数据分析为您推荐最优体检项。
        </div>
    </div>
    <!--简介end-->
    <!--调查内容-->
    <form class="layui-form" >
        <div class="layui-row layui-padd10 weui-bg-fff weui-margin-bot">
            <div class="layui-col-xs12 layui-padd100" ng-repeat="p in datas">
                <div class="layui-row" id="questionSeri_{{p.questionSerial}}"  ng-show="!p.jump">
                    <div class="layui-col-xs12 layui-pd-status">{{p.questionSerial}}、{{p.content}}</div>
                    <div class="layui-col-xs12 layui-pad-left20">
                        <div class="layui-row" ng-if="p.optionType == 1" >
                            <div class="layui-col-xs6" ng-repeat="x in p.answers" >
                                <!--<input type="radio" name="answer_{{p.questionSerial}}" value="{{x.unUsedSerialNumids}}" title="{{x.content}}" ng-click="radioClick(x.unUsedSerialNumids, p.questionSerial)" lay-ignore>{{x.content}}-->
                                <input type="radio" name="answer_{{p.questionSerial}}" value="{{x.unUsedSerialNumids}}" title="{{x.id}}" ng-click="refreshQuestion()" lay-ignore>{{x.content}}
                            </div>
                        </div>
                        <div class="layui-row" ng-if="p.optionType == 2" >
                            <div class="layui-col-xs6" ng-repeat="x in p.answers" >
                                <input type="checkbox" name="checkAnswer_{{p.questionSerial}}" value="{{x.unUsedSerialNumids}}" title="{{x.id}}" lay-skin="primary" ng-click="refreshQuestion()" lay-ignore>{{x.content}}
                                <!--<input type="checkbox" name="checkAnswer_{{p.questionSerial}}" value="{{x.unUsedSerialNumids}}" title="{{x.content}}" lay-skin="primary" ng-click="checkClick(x.unUsedSerialNumids, p.questionSerial)" lay-ignore>{{x.content}}-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--调查内容end-->

<!--底部按钮-->
<div class="layui-row  weui-bg-fff  layui-postion-ab">
    <div class="layui-col-xs12  layui-padd10 layui-zxt">
        <button class="layui-btn-tj" onclick="generateResult()">生成结果</button>
        <!--<a  class="layui-btn-tjs">生成结果</a>-->
    </div>
    <div class="layui-col-xs12 layui-padd10 layui-zxt">
        <a href="javascript:jumpQuestion();" >跳过问卷</a>
    </div>
</div>
<!--底部按钮end-->

</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/plugins/layui/layui.js"></script>
<script src="../js/validators.js"></script>
<script src="../js/util.js"></script>
<script src="../static/layer/layer.js"></script>
<script type="text/javascript" src="../lib/angular/angular.1.5.3.min.js"></script>

<script>
    //Demo
    var url = location.search; //获取url中"?"符后的字串 ('?modFlag=business&role=1')
    var packageId = new Object();
    var organizationId = new Object();
    if ( url.indexOf( "?" ) != -1 ) {
        var str = url.substr( url.indexOf( "?" ) +  1 ); //substr()方法返回从参数值开始到结束的字符串；

        var paramArr = str.split("&");

        var strs = paramArr[1].split( "=" );
        packageId = strs[1];
        organizationId = paramArr[0].split( "=" )[1];
        console.log( packageId ); //此时的packageId；
        console.log( organizationId ); //此时的organizationId就是我们需要的参数；
    }

    var app = angular.module('questionnaireApp', ['ng']);
    app.controller('questionnaireController', function($scope,$http) {
        init(organizationId);

        $scope.jumpQuestion = function () {
            window.location.href = "/pay.html"
        }

        setTimeout(function () {
            var answerStr = localStorage.sitename;
            console.log("answerStr : " + answerStr);

            if(answerStr != undefined){
                var answerArr = answerStr.split(",");
                if(answerArr != undefined && answerArr.length > 0){
                    if(organizationId == answerArr[0]){
                        //只有机构对应，才解析
                        for(var a = 1; a < answerArr.length ; a++){
                            var question_answer = answerArr[a];
                            if(question_answer != undefined){
                                var arr = question_answer.split("_");
                                if(arr != undefined && arr.length > 2){
                                    var qSeri = arr[0];
                                    var answerSeri = arr[1];
                                    var optionTypeNum = arr[2];
                                    if(optionTypeNum == 1){
                                        var dd = 'answer_'+ qSeri;
                                        var obj = document.getElementsByName(dd);
                                        for(var b = 0 ; b < obj.length ; b++){
                                            if(obj[b].getAttribute("title") == answerSeri){
                                                obj[b].setAttribute("checked",true);
                                            }
                                        }
                                    }else if (optionTypeNum == 2){
                                        var obj = document.getElementsByName("checkAnswer_" + qSeri);
                                        for(var b = 0 ; b < obj.length ; b++){
                                            if(obj[b].getAttribute("title") == answerSeri){
                                                obj[b].setAttribute("checked",true);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            refreshQuest();
        },1000);

        function init(organizationId) {

            $http({
                method: "POST",
                url: '/question/list',
                data: {
                    'organizationId': organizationId
                },
                headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'},
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj) {
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    return str.join("&");
                }
            }).then(function successCallback(response) {
                var dataMsg = response.data;
                if (dataMsg.errorCode == 0) {
                    $scope.datas = dataMsg.data;
                    console.log($scope.datas);

                    refresh();

                } else {
                    showErrorDialog(dataMsg.errorMsg);
                }
            }, function errorCallback(result) {
                showErrorDialog(result);
            });

        }

        function refresh() {
            layui.use('form', function () {
                var form = layui.form;
                form.render();
                //监听提交
                form.on('submit(formDemo)', function (data) {
                    layer.msg(JSON.stringify(data.field));
                    return false;
                });
            });

        }

        $scope.refreshQuestion = function () {
            refreshQuest();
        }

        function refreshQuest() {
            var totalQuestionSeri = [];

            var data = $scope.datas;
            if(data == undefined || data.length == 0){
                return ;
            }
            var needHide = [];
            var answerStr = organizationId;
            for(var i = 0; i < data.length; i++){
                var questionSerial = data[i].questionSerial;
                totalQuestionSeri.push(questionSerial);
                if(data[i].optionType == 1){
                    var dd = 'answer_'+ questionSerial;
                    var unUsedSerialNumids = $("[name= " + dd + "]:checked").val();
                    var checkedId = $("[name= " + dd + "]:checked").attr("title");
                    if(checkedId != undefined){
                        answerStr = answerStr + "," + questionSerial + '_' + checkedId + '_1';
                    }
                    if(unUsedSerialNumids != undefined){
                        var ids = unUsedSerialNumids.split(",");
                        if(ids != null && ids.length > 0){
                            for(var j=0; j<ids.length; j++){
                                if(needHide.indexOf(ids[j]) == -1){
                                    needHide.push(ids[j]);
                                }
                            }
                        }
                    }
                }else if(data[i].optionType == 2){
                    var obj = document.getElementsByName("checkAnswer_" + questionSerial);//选择所有name="interest"的对象，返回数组
                    var s = '';//如果这样定义var s;变量s中会默认被赋个null值
                    for(var m = 0; m < obj.length; m++){
                        if(obj[m].checked) {
                            var checkedId = obj[m].title;
                            if(checkedId != undefined){
                                answerStr = answerStr + "," + questionSerial + '_' + checkedId + '_2';
                            }
                            //取到对象数组后，我们来循环检测它是不是被选中
//                            s+=obj[m].value+',';  //如果选中，将value添加到变量s中
                            if(obj[m].value != null && obj[m].value != 'null'){
                                if(needHide.indexOf(obj[m].value) == -1){
                                    needHide.push(obj[m].value);
                                }
                            }
                        }
                    }
                }
            }
            console.log(needHide);
            console.log(answerStr);
            for (var n = 0; n < totalQuestionSeri.length; n++) {
                if(needHide.indexOf(totalQuestionSeri[n]) == -1){
                    $('#questionSeri_' + totalQuestionSeri[n]).show();
                }
            }

            for (var n = 0; n < needHide.length; n++) {

                var radioName = 'answer_'+ needHide[n];
                var radioObj = document.getElementsByName(radioName);
                if(radioObj != undefined){
                    for(var m = 0; m < radioObj.length; m++){
                        radioObj[m].checked = false;
                    }
                }

                var obj = document.getElementsByName("checkAnswer_" + needHide[n]);
                if(obj != undefined){
                    for(var m = 0; m < obj.length; m++){
                        obj[m].checked = false;
                    }
                }

                //将需要隐藏的题目选中状态从缓存中去除
                var answerArr = answerStr.split(",");
                if (answerArr != undefined && answerArr.length > 0) {
                    //只有机构对应，才解析
                    var newAnswerString = '';
                    for (var a = 1; a < answerArr.length; a++) {
                        var arr = answerArr[a].split("_");
                        if(arr != undefined && arr.length > 0){
                            if(arr[0] != needHide[n]){
                                newAnswerString = newAnswerString + "," + answerArr[a];
                            }
                        }
                    }
                    answerStr = answerArr[0] + newAnswerString;
                }
                $('#questionSeri_' + needHide[n]).hide();
            }

            if(typeof(Storage)!=="undefined") {
                localStorage.sitename = answerStr;
            }
            else{
                document.getElementById("result").innerHTML="对不起，您的浏览器不支持 web 存储。";
            }
        }
    });

    function generateResult() {
        var answerStr = localStorage.sitename;
        console.log("generateResult packageId : " + packageId);
        console.log("generateResult answerStr : " + answerStr);

        window.location.href = "/templates/questionResult.html?packageId=" + packageId + "&answerStr=" + answerStr;
    }

    function jumpQuestion() {
        showErrorDialog("此功能正在紧急研发中");
    }

</script>
</body>
</html>